<nav>
    <div>
        <select name="" id="" (change)="filterChanged($event.target.value)">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
    
        <div class="form-group">
            <input type="text">
            <span (click)="search($event)"><i class="fas fa-search"></i></span>
        </div>
    </div>
</nav>

<main>
    <p *ngIf="results">Total Results: {{ results.length }}</p>
    <div class="card" *ngFor="let result of results | orderBy : sortType : reverse | paginate: { itemsPerPage: 6, currentPage: p } ; let i = index">
        <div class="cardInner">
            <img src="{{ result.avatar_url }}" alt="">
            <div class="info">
                <h4>{{ result.login }}</h4>
                <p>Profile URL: {{ result.url }}</p>
                <div class="repo">
                    <ul>
                        <li>Data One: Value One</li>
                        <li>Data Two: Value Two</li>
                    </ul>
                    <button (click)="detailsView(i, result)">Details</button>
                </div>
            </div>
        </div>
        <table *ngIf='details === i' [hidden]='detailsview'>
            <tr *ngFor="let result2 of results2">
                <td>{{ result2.name }}</td>
                <td>{{ result2.language }}</td>
            </tr>
        </table>
    </div>
    <ul class="pagination" *ngIf='results'>  
        <pagination-controls (pageChange)="p = $event"></pagination-controls>  
    </ul>
</main>

<router-outlet></router-outlet>
